:root {
  --borderraduis: 0.2rem;
  --bgColor: black;
  --bgLigth: rgba(0, 0, 0, 0.8);
}

body {
  background-color: #c8ad7f;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wedding_btn {
  display: flex;
  justify-content: center;
  margin: 0.5rem 0;

  a,
  button {
    background-color: var(--bgColor);
    border-radius: var(--borderraduis);
    color: white;
    padding: 0.5rem;
    width: 90%;
    text-align: center;
  }

  a:hover,
  button:hover {
    background-color: var(--bgLigth);
  }
}

.wedding_img {
  width: 90%;
  border-radius: var(--borderraduis);
  box-shadow: 5px 5px 15px 5px var(--bgColor);
}

.wedding_signature {
  display: flex;
  justify-content: center;
  margin-top: 4rem;

  h6 {
    list-style: none;
    padding: 0.1rem;
    transform: rotate(-45deg);
  }
}

.wedding_form {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--bgColor);
  border-radius: var(--borderraduis);
  padding: 0.5rem;

  label {
    font-weight: 800;
    padding: 0.4rem 0.2rem 0.2rem 0.2rem;
  }

  input,
  textarea {
    width: 100%;
    border-radius: var(--borderraduis);
    border: none;
    padding: 0.2rem;
  }

  section {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .wedding_img {
    width: 50%;
  }

  .wedding_btn {
    a {
      width: 50%;
    }
  }
}
